:root {
    --textColor: black;
    --background: white;
    --middleColor: grey;

    --red: rgba(255, 0, 0, 0.3);
    --orange: rgba(255, 166, 0, 0.3);
    --yellow: rgba(255, 255, 0, 0.3);
    --green: rgba(0, 128, 0, 0.3);
    --blue: rgba(0, 0, 255, 0.3);
    --purple: rgba(128, 0, 128, 0.3);
}

body {
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    font-family: system-ui;
    color: var(--textColor);
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.Board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 5px;
}

.Box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--middleColor);
    font-size: 50px;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.2s;
}

.Box[data-value="2"] { background-color: var(--red); }
.Box[data-value="4"] { background-color: var(--red); }
.Box[data-value="8"] { background-color: var(--orange); }
.Box[data-value="16"] { background-color: var(--orange); }
.Box[data-value="32"] { background-color: var(--yellow); }
.Box[data-value="64"] { background-color: var(--yellow); }
.Box[data-value="128"] { background-color: var(--green); }
.Box[data-value="256"] { background-color: var(--green); }
.Box[data-value="512"] { background-color: var(--blue); }
.Box[data-value="1024"] { background-color: var(--blue); }
.Box[data-value="2048"] { background-color: var(--purple); }